body{
    background-color: cornsilk;
}
header{
    background-color: lemonchiffon;
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
}
.container .item{
    margin: 100px;
    border-color: solid black;
    border-radius: 15px;
}
.container .item button{
    border-color: solid black;
    border-radius: 20px;
}